.#{$rpe-namespace}__down-arrow {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.#{$rpe-namespace}__down-arrow-path {
  &-theme--light {
    fill: var(--experience-color-dark);
  }
  &-theme--dark {
    fill: var(--experience-color-light);
  }
}

.#{$rpe-namespace}__down-arrow-transform--upper {
  transform: rotate(180deg);
}
