.#{$rpe-namespace}__main-container {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  padding: 1rem;
  @media #{$rpe-mobile} {
    display: block;
    padding: 0.5rem;
  }
}

.#{$rpe-namespace}__main-container {
  &-flex--end {
    justify-content: flex-end;
  }
  &-flex--start {
    justify-content: flex-start;
  }
  &-flex--center {
    justify-content: center;
  }
}

.#{$rpe-namespace}__container {
  cursor: pointer;
  padding: 1.25rem;
  border-radius: 0.125rem;
  width: 45%;

  @media #{$rpe-mobile} {
    width: 100%;
  }
}
