.#{$rpe-namespace}__main-container {
  &-theme--light {
    color: var(--experience-text-light);
    background-color: var(--experience-color-light);
  }
  &-theme--dark {
    color: var(--experience-text-dark);
    background-color: var(--experience-color-dark);
  }
}

.#{$rpe-namespace}__container {
  &-theme--light {
    border: 1px solid var(--experience-border-light);
    box-shadow: 0 1px 3px 0 var(--experience-shadow-light);
  }
  &-theme--dark {
    border: 1px solid var(--experience-border-dark);
    box-shadow: 0 1px 3px 0 var(--experience-shadow-dark);
  }
}

.#{$rpe-namespace}__role-and-fromto-wrapper {
  &-theme--light {
    color: #718096;
  }
  &-theme--dark {
    color: #a0aec0;
  }
}
